
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

:root {
    --blue: #1c80f3;
    --light-blue: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
}
.color-white {
    color: #fff;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.logo, .logo img {
    width: 40px;
}


.header-user img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

td, th {
    vertical-align: middle;
    text-align: center;
}


.image-medium {
    width: 100px;
    height: 100px;
    object-fit: contain;
}