.link-button{
    height: 40px;
    margin: 10px;
    background-color: orange;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
a:hover {
    background-color: rgb(227, 181, 97);
}

/* Định dạng cho ô nhập liệu */
input[type=text] {
    border: 1px solid black;
    padding: 5px;
    width: 290px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}

/* Định dạng cho nút submit */
input[type=submit] {
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(227, 181, 97);
}
.find {
    margin-bottom: 10px;
}