/* Định dạng cho tiêu đề */
h1 {
    color: red;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Định dạng cho các phần tử li trong ul có class là messages */
ul.messages li {
    color: green;
    font-weight: bold;
}

/* Định dạng cho form */
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Định dạng cho bảng */
table {
    border-collapse: collapse;
    margin: 0 auto;
}

/* Định dạng cho các ô trong bảng */
td {
    border: 1px solid black;
    padding: 10px;
}

/* Định dạng cho các phần tử li trong bảng */
li {
    list-style-type: none;
}