/* Định dạng cho các phần tử li trong ul có class là messages */
ul.messages li {
    color: green;
    font-weight: bold;
}

/* Định dạng cho tiêu đề */
h1 {
    color: orange;
    text-align: center;
    font-family: Verdana, sans-serif;
}

/* Định dạng cho form */
form {
    border: 2px dashed orange;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
}

/* Định dạng cho các phần tử li trong form */
form li {
    font-size: 18px;
    line-height: 1.5;
}

/* Định dạng cho nút submit */
input[type=submit] {
    background-color: orange;
    color: white;
    border-radius: 10px;
    width: 220px;
    padding: 10px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
input[type=submit]:hover {
    background-color: pink;
}
.add {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* Định dạng cho liên kết */
a {
    display: block;
    width: 200px;
    margin: 20px auto;
    background-color: orange;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

/* Thay đổi màu nền khi di chuột qua liên kết */
a:hover {
    background-color: pink;
}
input[type="file"] {
    width: 270px;
}
select {
    width: 270px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"], textarea {
    width: 250px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px;
}
p {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;
}
.update {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}