<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add supplier</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<form action="/add_supplier/" method="post">{% csrf_token %}
    <p>Tên nhà cung cấp: {{ supplier_form.name}}</p>
    <p>Địa chỉ: {{ supplier_form.address}}</p>
    <p>Số điện thoại: {{ supplier_form.phone}}</p>
    <p>Email: {{ supplier_form.email}}</p>
    <input type="submit" value="Thêm">
</form>
</body>
</html>