<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Expense manager</title>
    <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/expense_manager.css' %}">
</head>
<body>
<h1>Danh sách chi phí</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<a href="/add_expense/">Thêm chi phí</a>
<a href="/">Trang chủ</a>
<form action="/expense_manager/" method="POST">
    {% csrf_token %}
    <input type="text" name="keyword">
    <input type="submit" name="submit" value="Tìm kiếm">
</form>
<table border="1" style="width:100%; border-collapse: collapse">
    <tr>
        <td style="display: none">Thông tin</td>
    </tr>
    {% for expense in page_obj %}
    <tr>
        <td>
            <li>Người lập phiếu: {{ expense }}</li>
            <li>Thời gian: {{ expense.time }}</li>
            <li>Số tiền: {{ expense.money }}</li>
            <li>Loại chi phí: {{ expense.type }}</li>
            <li>Ghi chú: {{ expense.note }}</li>
        </td>
    </tr>
    <tr></tr>
    {% endfor %}
</table>
<div class="pagination"> <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">« Đầu tiên</a>
    <a href="?page={{ page_obj.previous_page_number }}">Trước</a>
    {% endif %}

    <span class="current">
        Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Tiếp theo</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Cuối cùng »</a>
    {% endif %}
</span>
</div>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/show_manager.js' %}"></script>
</body>
</html>