{% extends 'base.html' %}

{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'styles/export_receipt.css' %}">
{% endblock style %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class='row justify-content-center'>
    <div class='col-6'>
        <div class='card p-5'>
            <div class="card-title ">
                <h3 class='text-center'>Thêm thanh toán</h3>
            </div>
            <form action="/export_receipt/{{ invoice_id }}/" method="post">{% csrf_token %}
                {{ export_receipt_form.as_p }}
                <input class='btn btn-primary' type="submit" value="Thêm">
            </form>
        </div>
    </div>
</div>


<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/export_receipt.js' %}"></script>
{% endblock content %}

{% block script %}

{% endblock script %}

