<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/button_form_home.css' %}">
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if user.is_authenticated %}
<p>Hi, {{user.name}}</a></p>
<a href="/user_manager/" class="link-button">Quản lý nhân viên</a>
<a href="/motor_manager/" class="link-button">Quản lý xe</a>
<a href="/store_manager/" class="link-button">Quản lý cửa hàng</a>
<a href="/supplier_manager/" class="link-button">Quản lý nhà cung cấp</a>
<a href="/import_motor/" class="link-button">Nhập hàng</a>
<a href="/export_motor/" class="link-button">Xuất hàng</a>
<a href="/report/" class="link-button">Báo cáo thống kê</a>
<a href="/visualization/" class="link-button">Trực quan hóa</a>
<a href="/logout/" class="link-button">Đăng xuất</a>
{% else %}
<a href="/login/" class="link-button">Đăng nhập</a>
{% endif %}
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/home.js' %}"></script>
</body>
</html>