{% extends 'base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/import_history.css' %}">
{% endblock style %}


{% block content %}
<h1>Lịch sử nhập hàng của {{ name }}</h1>
<table class='table table-bordered' border="1">
    <tr>
        <th>Thời gian</th>
        <th>Tên xe</th>
        <th>Ảnh xe</th>
        <th>Nhà cung cấp</th>
        <th>Số lượng</th>
    </tr>
    {% for record in page_obj %}
    <tr>
        <td>{{ record.0 }}</td>
        <td><a href="/show_motor/{{ record.1 }}/"> {{ record.2 }}</a></td>
        <td style="width:200px">
            {% load static %} <img src="{% static 'media/'|add:record.3 %}" alt="{{ record.2 }}" width="200">
        </td>
        <td><a href="/show_supplier/{{ record.5 }}/"> {{ record.4 }}</a></td>
        <td>{{ record.6 }}</td>
    </tr>
    {% endfor %}
</table>
<nav class='d-flex justify-content-center ' aria-label="Page navigation example">
    <ul class="pagination align-items-center justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">« Đầu tiên</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Trước</a></li>
        {% endif %}

        <li class="page-item mx-3">
            <span class="current">
                Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}
            </span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Tiếp theo</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Cuối cùng »</a></li>
        {% endif %}
    </ul>
</nav>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/pagination.js' %}"></script>
{% endblock content %}

{% block script %}

{% endblock script %}

