{% extends 'base.html' %}

{% block style %}
{% load static %}
{% comment %}
<link rel="stylesheet" href="{% static 'styles/import_motor.css' %}"> {% endcomment %}
{% endblock style %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class='row justify-content-center my-5'>
    <div class='col-7'>
        <div class='card p-5'>
            <div class="card-title ">
                <h3 class='text-center'>Nhập hàng</h3>
            </div>
            <form action="/import_motor/" method="post" enctype="multipart/form-data">
                {{ import_forms.management_data }}

                <!-- Security token -->
                {% csrf_token %}

                <div class='my-3'>{{ supplier_form.supplier.label}} {{ supplier_form.supplier}}</div>

                <div class='my-3'>{{ debt_form.debt_term.label}} {{ debt_form.debt_term}}</div>
                <!-- Using the formset -->
                {% comment %} {{ import_forms.as_p }} {% endcomment %}
                <h5>Danh sách xe</h5>
                {{ import_forms.as_p }}
                <div class='d-flex justify-content-center mt-4'><input class='btn btn-primary' type="submit"
                                                                       value="Thêm hóa đơn"></div>
            </form>
        </div>
    </div>
</div>

<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/import_motor.js' %}"></script>
{% endblock content %}

{% block script %}

{% endblock script %}
