{% extends 'base.html' %}

{% block style %}
{% load static %}
{% comment %}
<link rel="stylesheet" href="{% static 'styles/import_motor.css' %}"> {% endcomment %}
{% endblock style %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class='row justify-content-center my-5'>
    <div class='col-7'>
        <div class='card p-5'>
            <div class="card-title ">
                <h3 class='text-center'>Nhập hàng</h3>
            </div>
            <form action="/import_motor/" method="post">{% csrf_token %}
                

                <!-- Security token -->
                {% csrf_token %}

                <div class='mt-3'>{{ supplier_form.supplier.label}} {{ supplier_form.supplier}}</div>
                <small class="form-text text-muted">{{ supplier_form.supplier.help_text}}</small>
                {% if supplier_form.supplier.errors %}
                <span class="text-danger">{{ supplier_form.supplier.errors|join:", " }}</span>
                {% endif %}

                <div class='mt-3'>{{ debt_form.debt_term.label}} {{ debt_form.debt_term}}</div>
                <small class="form-text text-muted">{{ debt_form.debt_term.help_text}}</small>
                {% if debt_form.debt_term.errors %}
                <span class="text-danger">{{ debt_form.debt_term.errors|join:", " }}</span>
                {% endif %}
                <!-- Using the formset -->
                {% comment %} {{ export_forms.as_p }} {% endcomment %}

                <h5 class='mt-3'>Danh sách xe</h5>
                {{ import_forms.management_form }}
                {% for form in import_forms %}         
                <div class="row my-3">
                    {{ form.field_errors }}
                    {{ form.errors }}
                    <div class="col-6">{{ form.motor}}</div>
                    <div class="col-6">{{ form.quantity}}</div>
                </div>
                {% endfor %}
                <div class='d-flex justify-content-center mt-4'><input class='btn btn-primary' type="submit" value="Thêm hóa đơn"></div>
            </form>
        </div>
    </div>
</div>

<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/import_motor.js' %}"></script>
{% endblock content %}

{% block script %}

{% endblock script %}
