<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
<div class="login-page">
    <form action="/login/" method="post" class="form">{% csrf_token %}
      <form class="login-form">
        <input type="text" name="username" placeholder="username" {{ username }}/>
        <input type="password" placeholder="password" name="password" {{ password }}/>
        <button>Đăng nhập</button>
      </form>
    </div>
  </div>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/login.js' %}"></script>
</body>
</html>