<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Motor manager</title>
</head>
<body>
<h1>Danh sách xe máy</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<a href="/add_motor/">Thêm xe máy</a>
<a href="/">Trang chủ</a>
<table style="width:100%">
    <tr>
        <td style="display:none">Ảnh</td>
        <td style="display: none">Thông tin</td>
        <td style="display: none">Quản lý</td>
    </tr>
    {% for motor in motors %}
    <tr>
        <td>
            <img src="{{ motor.image.url }}" alt="{{ user.name }}" width="100" height="100">
        </td>
        <td>
            <li>Tên xe máy: {{ motor.name }}</li>
            <li>Thương hiệu{{ motor.brand }}</li>
            <li>Số lượng {{ motor.quantity }}</li>
        </td>
        <td>
            <a href="/show_motor/{{ motor.motor_id }}/">Xem</a>
            <a href="/update_motor/{{ motor.motor_id }}/">Sửa</a>
            <a href="/delete_motor/{{ motor.motor_id }}/">Xóa</a>
        </td>
        {% endfor %}
</table>
</body>
</html>