{% extends 'base.html' %}

{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/receipt_history.css' %}">
{% endblock style %}


{% block content %}
<h1 class='text-center'>Thông tin hóa đơn</h1>
{% load humanize %}
<div class='row my-5'>
    <div class="col-4">
        <div class='card p-2'>
            <table class="invoice table table-borderless table-col">
                <tr>
                    <td>Mã hóa đơn</td>
                    <td>{{ invoice.invoice_id }}</td>
                </tr>
                <tr>
                    <td>Ngày lập</td>
                    <td>{{ invoice.time|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>Tổng tiền</td>
                    <td>{{ invoice.total|intcomma|add:"đ" }}</td>
                </tr>
                <tr>
                    <td>Số tiền đã thanh toán</td>
                    <td>{{ invoice.payment|intcomma|add:"đ" }}</td>
                </tr>
                <tr>
                    <td>Hạn thanh toán</td>
                    <td>{{ invoice.debt_term|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>Người lập</td>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <td>Tên khách hàng</td>
                    <td>{{ customer }}</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="col-8 ps-5">
        <h4 class='text-center mb-3'>Danh sách thanh toán</h4>
        <table class="table list-motor">
            <thead>
                <tr>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Nhân viên</th>
                    <th scope="col">Số tiền</th>
                    <th scope="col">Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                {% load filter %}
                {% if invoice.importreceipt_set.all %}
                
                {% for import_receipt in invoice.importreceipt_set.all %}

                <tr>
                    <td>{{ import_receipt.time|date:'d-m-y' }}</td>
                    <td>{{ import_receipt.employee.name }}</td>
                    <td>{{ import_receipt.money|intcomma|add:" đ" }}</td>
                    <td>{{ import_receipt.note }}</td>
                </tr>
                {% endfor %}

                {% else %}
                {% for delivery_receipt in invoice.deliveryreceipt_set.all %}

                <tr>
                    <td>{{ delivery_receipt.time|date:'d-m-y' }}</td>
                    <td>{{ delivery_receipt.employee.name }}</td>
                    <td>{{ delivery_receipt.money|intcomma|add:" đ" }}</td>
                    <td>{{ delivery_receipt.note }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<a class='btn btn-primary' href="/invoice_manager/">Về trang quản lý</a>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/receipt_history.js' %}"></script>
{% endblock content %}

{% block script %}

{% endblock script %}
