<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Receipt history</title>
    <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/receipt_history.css' %}">
</head>
<body>
<h1>Thông tin hóa đơn</h1>
<ul>
    <li>Mã hóa đơn: {{ invoice.invoice_id }}</li>
    <li>Ngày lâp: {{ invoice.time }}</li>
    <li>Tổng tiền: {{ invoice.total }}</li>
    <li>Số tiền đã thanh toán: {{ invoice.payment }}</li>
    <li>Hạn thanh toán: {{ invoice.debt_term }}</li>
    <li>Người lập: {{ name }}</li>
    <li>Tên khách hàng: {{ customer }}</li>
</ul>
<table border="1" style="border-collapse: collapse; border-spacing: 0;text-align: center; vertical-align: middle">
    <tr>
        <th>Thời gian</th>
        <th>Số tiền</th>
        <th>Ghi chú</th>
        <th>Nhân viên thực hiện</th>
    </tr>
    {% for record in page_obj %}
    <tr>
        <td>{{ record.0 }}</td>
        <td>{{ record.1 }}</td>
        <td>{{ record.2 }}</td>
        <td>{{ record.3 }}</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination"> <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">« Đầu tiên</a>
    <a href="?page={{ page_obj.previous_page_number }}">Trước</a>
    {% endif %}

    <span class="current">
        Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Tiếp theo</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Cuối cùng »</a>
    {% endif %}
</span>
</div>
<a href="/invoice_manager/">Về trang quản lý</a>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/receipt_history.js' %}"></script>
</body>
</html>