<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Report turnover</title>
    <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/report_turnover.css' %}">
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<form action="/report_turnover/" method="post">{% csrf_token %}
    <div class="start-time">
        Chọn thời gian bắt đầu:
    </div>
    <div>{{ date_form.start_month.label }} {{ date_form.start_month }} {{ date_form.start_month.help_text }}</p>
    <div>{{ date_form.start_year.label }} {{ date_form.start_year }} {{ date_form.start_year.help_text }}
    Chọn thời gian kết thúc:</p>
    <div>{{ date_form.end_month.label }} {{ date_form.end_month }} {{ date_form.end_month.help_text }}</p>
    <div>{{ date_form.end_year.label }} {{ date_form.end_year }} {{ date_form.end_year.help_text }}</p>
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>
{% if request.method == "POST" %}
<div class="container">
    <table border="1" style="border-collapse: collapse; border-spacing: 0;text-align: center; vertical-align: middle">
        <tr>
            <th>Thời gian</th>
            <th>Doanh thu</th>
        </tr>
        {% for record in page_obj %}
        <tr>
            <td>{{ record.0 }}</td>
            <td>{{ record.1 }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<div class="pagination"> <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">« Đầu tiên</a>
    <a href="?page={{ page_obj.previous_page_number }}">Trước</a>
    {% endif %}

    <span class="current">
        Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Tiếp theo</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Cuối cùng »</a>
    {% endif %}
</span>
</div>
<div class="pagination"> <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">« Đầu tiên</a>
    <a href="?page={{ page_obj.previous_page_number }}">Trước</a>
    {% endif %}

    <span class="current">
        Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Tiếp theo</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Cuối cùng »</a>
    {% endif %}
</span>
</div>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/report_turnover.js' %}"></script>
</body>
</html>