{% extends 'base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/report_best_sale_items.css' %}">
{% endblock style %}


{% block content %}
<table class='table table-bordered text-center rounded' border="1" style="border-collapse: collapse; border-spacing: 0;text-align: center; vertical-align: middle">
    <tr>
        <th>Ảnh</th>
        <th>Tên xe</th>
    </tr>
    {% for record in page_obj %}
    <tr>
        <td style="width:250px">
            <img src="{% static 'media/'|add:record.1 %}" alt="{{ record.2 }}" width="250">
        </td>
        <td><a href="/show_motor/{{ record.0 }}/">{{ record.2 }}</a></td>
    </tr>
    {% endfor %}
</table>
<nav class='d-flext ' aria-label="Page navigation example">
    <ul class="pagination align-items-center justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">« Đầu tiên</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Trước</a></li>
        {% endif %}

        <li class="page-item mx-3">
            <span class="current">
                Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}
            </span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Tiếp theo</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Cuối cùng »</a></li>
        {% endif %}
    </ul>
</nav>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/report_best_sale_items.js' %}"></script>
{% endblock content %}

{% block script %}

{% endblock script %}
