<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/report.css' %}">
</head>
<body>
<a href="/report_turnover/">Báo cáo doanh thu theo tháng</a>
<a href="/report_sale_items/">Báo cáo mặt hàng đã bán ra theo tháng</a>
<a href="/report_best_sale_items/">Báo cáo mặt hàng bán chạy</a>
<a href="/report_sale_history/">Xem lịch sử bán hàng của nhân viên</a>
<a href="/report_import_history/">Xem lịch sử nhập hàng của nhân viên</a>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/report.js' %}"></script>
</body>
</html>