<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Sale history</title>
    <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/sale_history.css' %}">
</head>
<body>
<h1>Lịch sử bán hàng của {{ name }}</h1>
<table border="1">
    <tr>
        <th>Thời gian</th>
        <th>Tên xe</th>
        <th>Ảnh xe</th>
        <th>Cửa hàng</th>
        <th>Số lượng</th>
    </tr>
    {% for record in history %}
    <tr>
        <td>{{ record.0 }}</td>
        <td><a href="/show_motor/{{ record.1 }}/"> {{ record.2 }}</a></td>
        <td style="width:200px">
            {% load static %} <img src="{% static 'media/'|add:record.3 %}" alt="{{ record.2 }}" width="200">
        </td>
         <td><a href="/show_store/{{ record.5 }}/"> {{ record.4 }}</a></td>
        <td>{{ record.6 }}</td>
    </tr>
    {% endfor %}
</table>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/sale_history.js' %}"></script>
</body>
</html>