{% extends 'base.html' %}

{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'styles/sale_predict.css' %}">

{% endblock style %}


{% block content %}
<table class='table table-bordered' border="1" style="border-collapse: collapse; border-spacing: 0;text-align: center; vertical-align: middle">
    <tr>
        <th>Ảnh xe</th>
        <th>Tên xe</th>
        <th>Dự đoán</th>
    </tr>
    {% for record in page_obj %}
    {% if record.3 > 0.6 %}
    <tr>
        <td style="width:250px">
            <img src="{% static 'media/'|add:record.2 %}" alt="{{ record.1 }}" width="250">
        </td>
        <td><a href="/show_motor/{{ record.0 }}/">{{ record.1 }}</a></td>
        <td>
            {% if record.4 == 0 %}
            {% if record.3 > 0.85 %}
            <p>Rất có khả năng bán chạy, nên nhập thêm </p>
            {% elif record.3 > 0.6 %}
            <p>Có khả năng bán chạy, cân nhắc nhập thêm</p>
            {% endif %}
            {% else %}
            {% if record.3 > 0.85 %}
            <p>Rất có khả năng tồn kho, nên sale {{ record.4 }}% </p>
            {% elif record.3 > 0.6 %}
            <p>Có khả năng tồn kho, nên sale {{ record.4 }}%</p>
            {% endif %}
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<nav class='d-flex justify-content-center ' aria-label="Page navigation example">
    <ul class="pagination align-items-center justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">« Đầu tiên</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Trước</a></li>
        {% endif %}

        <li class="page-item mx-3">
            <span class="current">
                Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}
            </span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Tiếp theo</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Cuối cùng »</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}

{% block script %}

{% endblock script %}
