{% extends 'base.html' %}

{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'styles/show_supplier.css' %}">
{% endblock style %}


{% block content %}


<div class='row justify-content-center'>

    <div class='col-7'>
        <div class='card'>
            <div class='card-title'>
                <h1 class='text-center my-4'>Thông tin nhà cung cấp</h1>
            </div>
            <div class='card-body px-5'>
                <table class='table table-bordered my-4'>
                    <tr>
                        <td>Tên nhà cung cấp</td>
                        <td>{{ supplier.name }}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ</td>
                        <td>{{ supplier.address }}</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại</td>
                        <td>{{ supplier.phone }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ supplier.email }}</td>
                    </tr>
                    <tr>
                        <td>Phí vận chuyển</td>
                        <td>{{supplier.transport_price}}</td>
                    </tr>
                    <tr>
                        <td>Thời gian giao hàng</td>
                        <td>{{supplier.delivery_day}}</td>
                    </tr>
                    <tr>
                        <td>Chất lượng sản phẩm</td>
                        <td>{{supplier.rating}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<a class='btn btn-primary' href="/supplier_manager/">Về trang quản lý</a>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/show_supplier.js' %}"></script>
{% endblock content %}

{% block script %}

{% endblock script %}
