{% extends 'base.html' %}

{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'styles/show_invoice.css' %}">
{% endblock style %}


{% block content %}
{% load humanize %}

<h1 class='text-center my-4'>Thông tin hóa đơn</h1>

<div class='row my-5'>
    <div class="col-4">
        <div class='card p-2'>
            <table class="invoice table table-borderless">
                <tr>
                    <td>Mã hóa đơn</td>
                    <td>{{ invoice.invoice_id }}</td>
                </tr>
                <tr>
                    <td>Ngày lập</td>
                    <td>{{ invoice.time|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>Tổng tiền</td>
                    <td>{{ invoice.total|intcomma|add:"đ" }}</td>
                </tr>
                <tr>
                    <td>Số tiền đã thanh toán</td>
                    <td>{{ invoice.payment|intcomma|add:"đ" }}</td>
                </tr>
                <tr>
                    <td>Hạn thanh toán</td>
                    <td>{{ invoice.debt_term|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>Người lập</td>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <td>Tên khách hàng</td>
                    <td>{{ customer }}</td>
                </tr>
    
            </table>
        </div>
    </div>
    <div class="col-8 ps-5">
        <h4 class='text-center mb-3'>Danh sách xe</h4>
        <table class="table list-motor">
            <thead>
                <tr>
                    <th scope="col">Tên xe</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                {% if invoice.import_motor_set.all %}
                {% load filter %}
                {% for import_motor in invoice.import_motor_set.all %}

                <tr>
                    <td>{{ import_motor.motor.name }}</td>
                    <td>{{ import_motor.quantity }}</td>
                    <td>{{ import_motor.motor.import_price|intcomma|add:" đ" }}</td>
                    <td>{{ import_motor.quantity|mul:import_motor.motor.import_price|intcomma|add:" đ" }}</td>
                </tr>
                {% endfor %}
                
                {% else %}
                {% for delivery_motor in invoice.delivery_motor_set.all %}

                <tr>
                    <td>{{ delivery_motor.motor.name }}</td>
                    <td>{{ delivery_motor.quantity }}</td>
                    <td>{{ delivery_motor.motor.import_price|intcomma|add:" đ" }}</td>
                    <td>{{ delivery_motor.quantity|mul:delivery_motor.motor.import_price|intcomma|add:" đ" }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>


<a class='btn btn-primary' href="/invoice_manager/">Về trang quản lý</a>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/show_invoice.js' %}"></script>
{% endblock content %}

{% block script %}

{% endblock script %}
