<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
</head>
<body>
<h1>Thông tin nhân viên</h1>
<ul>
    <li>Tên nhân viên: {{ user.name }}</li>
    <li>{{ user.avatar }}</li>
    <li>Ngày sinh: {{ user.dob }}</li>
    <li>Giới tính: {{ user.gender }}</li>
    <li>Địa chỉ: {{ user.address }}</li>
    <li>Số điện thoại: {{ user.phone }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Chức vụ: {{ user.role }}</li>
    <li>Lương: {{ employee.salary }}</li>
</ul>
</body>
</html>