<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Motor information</title>
</head>
<body>
<h1>Thông tin xe máy</h1>
<ul>
    <li>Tên xe máy: {{ motor.name }}</li>
    <li>Thương hiệu: {{ motor.brand }}</li>
    <li> {{motor.image }}</li>
    <li>Mô tả xe: {{ motor.description }}</li>
    <li>Bảo hành: {{motor.assurance }}</li>
    <li>Số lượng: {{motor.quantity }}</li>
    <li>Giá nhập: {{motor.import_price }}</li>
    <li>Giá bán: {{motor.export_price }}</li>
</ul>
</body>
</html>