{% extends 'base.html' %}

{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'styles/show_motor.css' %}">
{% endblock style %}


{% block content %}
{% load humanize %}
<h1 class='text-center my-4'>Thông tin xe máy</h1>

<div class="row">
    <div class="col-4 pt-3">
        <img class='motor-img' src="{{ motor.image.url }}" alt="{{ motor.name }}" height="200">
    </div>
    <div class="col-8 px-5">
        <table class='table' style="width:100%">
            <tr>
                <td>
                   Tên xe máy
                </td>
                <td>
                    {{ motor.name }}
                </td>
            </tr>
            <tr>
                <td>Thương hiệu</td>
                <td>{{ motor.brand }}</td>
            </tr>
            <tr>
                <td>Mô tả xe</td>
                <td>{{ motor.description }}</td>
            </tr>
            <tr>
                <td>Bảo hành</td>
                <td>{{ motor.assurance }}</td>
            </tr>
            <tr>
                <td>Số lượng</td>
                <td>{{ motor.quantity }}</td>
            </tr>
            <tr>
                <td>Giá nhập</td>
                <td>{{ motor.import_price|intcomma|add:"đ" }}</td>
            </tr>
            <tr>
                <td>Giá bán</td>
                <td>{{ motor.export_price|intcomma|add:"đ" }}</td>
            </tr>


        </table>
    </div>
</div>
<a class='btn btn-primary' href="/motor_manager/">Về trang quản lý</a>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/show_motor.js' %}"></script>
{% endblock content %}

{% block script %}

{% endblock script %}

