<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Store manager</title>
        <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/store_manager.css' %}">
    <link rel="stylesheet" href="{% static 'styles/form_manage.css' %}">
</head>
<body>
<h1>Danh sách cửa hàng</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<a class="link-button" href="/add_store/">Thêm cửa hàng</a>
<a class="link-button" href="/">Trang chủ</a>
<form action="/store_manager/" method="POST" class="find">
    {% csrf_token %}
    <input type="text" name="keyword">
    <input type="submit" name="submit" value="Tìm kiếm">
</form>
<table style="width:100%">
    <tr>
        <td style="display: none">Thông tin</td>
        <td style="display: none">Quản lý</td>
    </tr>
    {% for store in page_obj %}
    <tr>
        <td>
            <li>Tên cửa hàng: {{ store.name }}</li>
            <li>Tên chủ cửa hàng: {{ store.owner }}</li>
        </td>
        <td>
            <a class="link-button" href="/show_store/{{ store.store_id }}/">Xem</a>
            <a class="link-button" href="/update_store/{{ store.store_id }}/">Sửa</a>
            <a class="link-button" href="/delete_store/{{ store.store_id }}/">Xóa</a>
        </td>
    </tr>
    <tr></tr>
    {% endfor %}
</table>
<div class="pagination"> <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">« Đầu tiên</a>
    <a href="?page={{ page_obj.previous_page_number }}">Trước</a>
    {% endif %}

    <span class="current">
        Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Tiếp theo</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Cuối cùng »</a>
    {% endif %}
</span>
</div>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/show_manager.js' %}"></script>
</body>
</html>