{% extends 'base.html' %}

{% block style %}
{% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'styles/supplier_manager.css' %}"> {% endcomment %}
{% endblock style %}


{% block content %}
<h1 class='text-center'>Danh sách nhà cung cấp</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class='search d-flex justify-content-between my-4'>
    <form action="/motor_manager/" method="get">
        <div class='d-flex gap-3'>
            {% csrf_token %}
            <input class='form-control' type="text" name="keyword" value={{keyword}}>
            <input class='btn btn-primary' type="submit" name="submit" value="Tìm kiếm">
        </div>
    </form>
    <a class='btn btn-primary' href="/add_supplier/">Thêm nhà cung cấp</a>
</div>

{% if page_obj %}
<table class='table table-bordered' style="width:100%">
    <tr>
        <th>Nhà cung cấp</th>

        <th>Thao tác</th>
    </tr>
  {% for supplier in page_obj %}
    <tr>
        <td>
            {{ supplier.name }}
        </td>
        <td>
            <div class='d-flex justify-content-center gap-4'>
                <a class='btn btn-primary' href="/show_supplier/{{ supplier.supplier_id }}/">Xem</a>
                <a class='btn btn-primary' href="/update_supplier/{{ supplier.supplier_id }}/">Sửa</a>
                <a class='btn btn-primary' href="/delete_supplier/{{ supplier.supplier_id }}/">Xóa</a>
            </div>
        </td>
    </tr>

    {% endfor %}
</table>
<nav class='d-flex justify-content-center ' aria-label="Page navigation example">
    <ul class="pagination align-items-center justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">« Đầu tiên</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Trước</a></li>
        {% endif %}

        <li class="page-item mx-3">
            <span class="current">
                Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}
            </span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Tiếp theo</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Cuối cùng »</a></li>
        {% endif %}
    </ul>
</nav>

{% else %}
<h3 class="text-center">Không có nhà cung cấp phù hợp</h3>
{% endif %}

<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/pagination.js' %}"></script>
{% endblock content %}

{% block script %}

{% endblock script %}

