<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Supplier update</title>
        <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/update_supplier.css' %}">
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<h1>Cập nhật thông tin</h1>
<form action="/update_supplier/{{supplier_id}}/" method="post">{% csrf_token %}
    <p style="display: none">Id: {{supplier_form.supplier_id}}</p>
    <p>Tên nhà cung cấp: {{ supplier_form.name }}</p>
    <p>Tên cửa hàng: {{ supplier_form.address }}</p>
    <p>Số điện thoại: {{ supplier_form.phone }}</p>
    <p>Email: {{ supplier_form.email }}</p>
    <input type="submit" value="Cập nhật">
    <a href="/supplier_manager/">Về trang quản lý</a>
</form>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/update_supplier.js' %}"></script>
</body>
</html>