<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
        <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/update_user.css' %}">
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<h1>Cập nhật thông tin</h1>
<form action="/update_user/{{ username }}/" method="post">{% csrf_token %}
    <p style="display: none">Tên đăng nhập: {{ user_form.username }}</p>
    <p>Mật khẩu: {{ user_form.password }}</p>
    <p style="display: none">Tên: {{ user_form.name }}</p>
    <p>Ảnh đại diện: {{ user_form.avatar }}</p>
    <p style="display: none">Ngày sinh: {{ user_form.dob }}</p>
     <p style="display: none">Giới tính: {{ user_form.gender }}</p>
    <p>Địa chỉ: {{ user_form.address }}</p>
    <p>Số điện thoại: {{ user_form.phone }}</p>
    <p>Email: {{ user_form.email }}</p>
    <label for="{{ user_form.role.id_for_label }}">Chức vụ:</label>
    {{ user_form.role }}
    <p style="display: none">{{ user_form.is_superuser }}</p>
    <p style="display: none"> {{ user_form.first_name }}</p>
    <p style="display: none"> {{ user_form.last_name }}</p>
    <p style="display: none"> {{ user_form.is_staff }}</p>
    <p style="display: none"> {{ user_form.is_active }}</p>
    <p style="display: none"> {{ user_form.date_joined }}</p>
    <p style="display: none"> {{ user_form.salary }}</p>
    <input type="submit" value="Cập nhật">
    <a href="/user_manager/">Về trang quản lý</a>
</form>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/update_user.js' %}"></script>
</body>
</html>