<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Update Store</title>
        <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/update_store.css' %}">
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<h1>Cập nhật thông tin</h1>
<form action="/update_store/{{ store_id }}/" method="post">{% csrf_token %}
    <p style="display: none">Id: {{store_form.store_id}}</p>
    <li>Tên cửa hàng: {{ store_form.name }}</li>
    <li>Tên chủ cửa hàng: {{ store_form.owner }}</li>
    <li>Địa chỉ: {{ store_form.address }}</li>
    <li>Số điện thoại: {{ store_form.phone }}</li>
    <li>Email: {{ store_form.email }}</li>
    <div class="add">
        <input type="submit" value="Cập nhật">
    </div>
    <a href="/store_manager/">Về trang quản lý</a>
</form>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/update_store.js' %}"></script>
</body>
</html>