<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
        <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/user_manager.css' %}">
</head>
<body>
<h1>Danh sách nhân viên</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<a href="/add_user/">Thêm nhân viên</a>
<a href="/">Trang chủ</a>
<form action="/user_manager/" method="POST">
    {% csrf_token %}
    <input type="text" name="keyword">
    <input type="submit" name="submit" value="Tìm kiếm">
</form>
<table style="width:100%">
    <tr>
        <td style="display:none">Ảnh đại diện</td>
        <td style="display: none">Thông tin</td>
        <td style="display: none">Quản lý</td>
    </tr>
    {% for user in users %}
    <tr>
        <td>
            <img src="{{ user.avatar.url }}" alt="{{ user.name }}" width="100" height="100">
        </td>
        <td>
            <li>Tên nhân viên: {{ user.name }}</li>
            <li>Tuổi: {{user.dob }}</li>
            <li>Chức vụ: {{ user.role }}</li>
        </td>
        <td>
            <a href="/report_sale_history/{{ user.username }}/">Xem lịch sử bán hàng</a>
            <a href="/show_user/{{ user.username }}/">Xem thông tin</a>
            <a href="/update_user/{{ user.username }}/">Sửa</a>
            <a href="/delete_user/{{ user.username }}/">Xóa</a>
        </td>
    </tr>
    {% endfor %}
</table>
<!-- Gọi file js trong folder static -->
<script src="{% static 'scripts/user_manager.js' %}"></script>
</body>
</html>