<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
</head>
<body>
<h1>Danh sách nhân viên</h1>
<table style="width:100%">
    <tr>
        <td style="display:none">Ảnh đại diện</td>
        <td style="display: none">Thông tin</td>
    </tr>
    {% for user in users %}
    <tr>
        <td><img src="{{ user.avatar }}" alt="{{ user.name }}.image"></td>
        <td>
            <li>Tên nhân viên: {{ user.name }}</li>
            <li>Tuổi: {{user.dob }}</li>
            <li>Chức vụ: {{ user.role }}</li>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>