

{% extends 'base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/visualization.css' %}">
{% endblock style %}

{% block content %}
    <div class='chart'>
        <div class='chart-body'>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2 "></script>
    
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
    
        // Tạo biến để lưu trữ dữ liệu từ context của django
        var labels = {{ columns_name | safe}}
        var data = {{ values | safe }}
    
        labels = labels.map(function(item) {
            return item.split(' ');
        });
        console.log(labels);
        // Tạo biểu đồ cột sử dụng chart js
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Số lượng',
                    data: data,
                    backgroundColor: 'rgba(99,107,255,0.2)',
                    borderColor: 'rgb(99,143,255)',
                    borderWidth: 1,
                    barPercentage: 0.5,
                    barThickness: 100,
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                    }
                }]
            },
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true, // hiển thị chú thích
                    },
                    title: {
                        display: true, // hiển thị tiêu đề
                        text: "Biểu đồ sản phẩm bán chạy", // nội dung tiêu đề
                    },
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
            plugins: [ChartDataLabels],
        })
    
        var chartBody = document.querySelector('.chart-body');
        const totalLabels = labels.length;
        if (totalLabels > 10) {
            chartBody.style.width = totalLabels * 100 + 'px';
        }
    </script> <!-- Thêm dấu ngoặc vuông và dấu ngoặc nhọn -->
{% endblock content %}

{% block script %}
{% endblock script %}

