<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Visualization turnover</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<form action="/visualization_balance_sheet/" method="post">{% csrf_token %}
    <p>Chọn thời gian bắt đầu:</p>
    <p>{{ date_form.start_month.label }} {{ date_form.start_month }} {{ date_form.start_month.help_text }}</p>
    {{ date_form.start_year.label }} {{ date_form.start_year }} {{ date_form.start_year.help_text }}
    <p>Chọn thời gian kết thúc:</p>
    <p>{{ date_form.end_month.label }} {{ date_form.end_month }} {{ date_form.end_month.help_text }}</p>
    {{ date_form.end_year.label }} {{ date_form.end_year }} {{ date_form.end_year.help_text }}
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>
{% if request.method == "POST" %}
<div>
    <canvas id="myChart" height="90"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');

    // Tạo biến để lưu trữ dữ liệu từ context của django
    var labels = {
    {
        columns_name | safe
    }
    }
    ; // một list chứa các tên cột
    var data = {
    {
        values | safe
    }
    }
    ; // một list chứa giá trị là các số nguyên
    console.log(data);
    // Tạo biểu đồ cột sử dụng chart js
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Biểu đồ thể hiện số lượng hàng bán ra',
                data: data,
                backgroundColor: 'rgba(99,107,255,0.2)',
                borderColor: 'rgb(99,143,255)',
                borderWidth: 1,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                },
                xAxes: [{
                    barThickness: 10
                }]
            },

        }
    })
</script> <!-- Thêm dấu ngoặc vuông và dấu ngoặc nhọn -->
{% endif %}
</body>
</html>