{% extends 'base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/visualization.css' %}">
{% endblock style %}


{% block content %}
<h3 class="text-center my-3">Trực quan doanh số theo tháng</h3>

<form action="/visualization_kpi_user/{{ username }}/" method="post">{% csrf_token %}
    <div class='d-flex gap-5 align-items-center'>
        <div class='d-flex gap-3 align-items-center'>
            <div>Từ</div>
            <div class='d-flex align-items-center'>{{ date_form.start_month.label }} {{ date_form.start_month }}</div>
            <div class='d-flex align-items-center'>{{ date_form.start_year.label }} {{ date_form.start_year }}</div>
        </div>
        <div class='d-flex gap-3 align-items-center'>
            <div>Đến</div>
            <div class='d-flex align-items-center'>{{ date_form.end_month.label }} {{ date_form.end_month }}</div>
            <div class='d-flex align-items-center'>{{ date_form.end_year.label }} {{ date_form.end_year }}</div>
            <br><br>
        </div>
        <input class='btn btn-primary align-middle' type="submit" value="Thống kê">
    </div>
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class='mt-3' style='color:red'>
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <br><br>
</form>
{% if request.method == "POST" %}
<div class='chart'>
    <div class='chart-body'>
        <canvas id="myChart"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');

    // Tạo biến để lưu trữ dữ liệu từ context của django
    var labels = {
        {
            columns_name | safe
        }
    }
    var data = {
        {
            values | safe
        }
    }

    // Tạo biểu đồ cột sử dụng chart js
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Biểu đồ thể hiện doanh số của {{ name }}',
                data: data,
                backgroundColor: 'rgba(99,107,255,0.2)',
                borderColor: 'rgb(201,5,80)',
                borderWidth: 1,
                datalabels: {
                    anchor: 'end',
                    align: 'top',
                }
            }]
        },
        plugins: [ChartDataLabels],
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    labels: {
                        usePointStyle: true,
                        pointStyle: 'line',
                    }
                }
            },
            scales: {
                x: {
                    title: {
                        display: true, // hiển thị tên trục x
                        text: "Tháng", // nội dung tên trục x
                    },
                },
                y: {
                    title: {
                        display: true, // hiển thị tên trục y1
                        text: "Doanh số", // nội dung tên trục y1
                    },
                    position: "left", // vị trí bên trái của biểu đồ
                    beginAtZero: true
                }
            }
        }
    })
</script>
{% endif %}
{% endblock content %}

{% block script %}

{% endblock script %}