<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Visualization</title>
    <!-- Gọi file css trong folder static -->
    <link rel="stylesheet" href="{% static 'styles/visualization.css' %}">
</head>

<body>

    {% if user.role == 'admin' %}
    <a href="/visualization_balance_sheet/">Trực quan doanh thu theo tháng</a>
    <a href="/visualization_kpi/">Trực quan doanh số bán ra của nhân viên</a>
    {% endif %}
    
    {% if user.role != 'Nhân viên kho' %}
    <a href="/visualization_sale_items/">Trực quan mặt hàng đã bán ra theo tháng</a>
    <a href="/visualization_best_sale_items/">Trực quan mặt hàng bán chạy</a>
    <a href="/visualization_export_to_store/">Trực quan số lượng hàng đã bán cho từng cửa hàng</a>
    {% endif %}

    {% if user.role != 'Nhân viên bán hàng' %}
    <a href="/visualization_import_from_supplier/">Trực quan số lượng hàng đã nhập của từng nhà cung cấp</a>
    {% endif %}

    {% if user.role == 'Nhân viên bán hàng' %}
    <a href="/visualization_kpi_user/{{ username }}">Trực quan kpi</a>
    {% endif %}


    <!-- Gọi file js trong folder static -->
    <script src="{% static 'scripts/visualization.js' %}"></script>
</body>

</html>