{% extends 'base.html' %}

{% block style %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/visualization.css' %}">
{% endblock style %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% comment %} <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li> {% endcomment %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Thông báo</strong>
            <small>11 mins ago</small>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</ul>
{% endif %}

<h3 class="text-center my-3">Trực quan thu chi theo tháng</h3>
<form action="/visualization_balance_sheet/" method="post">{% csrf_token %}
    <div class='d-flex gap-5 align-items-center'>
        <div class='d-flex gap-3 align-items-center'>
            <div>Từ</div>
            <div class='d-flex align-items-center'>{{ date_form.start_month.label }} {{ date_form.start_month }}</div>
            <div class='d-flex align-items-center'>{{ date_form.start_year.label }} {{ date_form.start_year }}</div>
        </div>
        <div class='d-flex gap-3 align-items-center'>
            <div>Đến</div>
            <div class='d-flex align-items-center'>{{ date_form.end_month.label }} {{ date_form.end_month }}</div>
            <div class='d-flex align-items-center'>{{ date_form.end_year.label }} {{ date_form.end_year }}</div>
            <br><br>
        </div>
        <input class='btn btn-primary align-middle' type="submit" value="Thống kê">
    </div>
    <br><br>
</form>
{% if request.method == "POST" %}
    <div class='chart'>
        <div class='chart-body'>
            <canvas id="myChart"></canvas>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var labels = {{columns_name | safe}}
    console.log({{one_value | safe}});
    var data = {
        labels: {{columns_name | safe}}, // tên cột
        datasets: [
        {
            label: "Thu", // tên dataset
            data: {{one_values | safe}}, // list data cho thu
            backgroundColor: "rgba(255, 99, 132, 0.2)", // màu nền
            borderColor: "rgba(255, 99, 132, 1)", // màu viền
            borderWidth: 1, // độ dày viền
            {% comment %} yAxisID: "y1", // id của trục y cho thu 
            {% endcomment %}
            datalabels: {
                anchor: 'end',
                align: 'top',
            }
        },
        {
            label: "Chi", // tên dataset
            data:{{two_values | safe}}, // list data cho chi
            backgroundColor: "rgba(54, 162, 235, 0.2)", // màu nền
            borderColor: "rgba(54, 162, 235, 1)", // màu viền
            borderWidth: 1, // độ dày viền
            {% comment %} yAxisID: "y2", // id của trục y cho chi {% endcomment %}
            datalabels: {
                anchor: 'end',
                align: 'top',
            }
        },
    ],
    };
    var options = {
        type: "bar", // loại biểu đồ
        data: data, // dữ liệu
        plugins: [ChartDataLabels],
        options: {
            responsive: true, // tự điều chỉnh kích thước
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: true, // hiển thị chú thích
                },
                title: {
                    display: true, // hiển thị tiêu đề
                    text: "Biểu đồ thu chi", // nội dung tiêu đề
                },
            },
            scales: {
                x: {
                    title: {
                        display: true, // hiển thị tên trục x
                        text: "Tháng", // nội dung tên trục x
                    },
                },
                y: {
                    title: {
                        display: true, // hiển thị tên trục y1
                        text: "Tiền", // nội dung tên trục y1
                    },
                    position: "left", // vị trí bên trái của biểu đồ
                    beginAtZero: true,
                },
            },
        },
        
    };

        var chartBody = document.querySelector('.chart-body');
        const totalLabels = labels.length;
        if(totalLabels > 10) {
        chartBody.style.width = totalLabels * 150 + 'px';
        }
        var myChart = new Chart(ctx, options);
</script> <!-- Thêm dấu ngoặc vuông và dấu ngoặc nhọn -->
{% endif %}
{% endblock content %}

{% block script %}

{% endblock script %}

